<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="test">
         <property
               name="appName"
               value="Test">
         </property>
         <property
               name="applicationXMI"
               value="com.sample.application/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.sample.application/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
